/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Google Font */
*{
    margin: 0px;
    padding: 0px;
}
/* nav section end */
body{
    max-width: 1936px;
    max-height: 9668px;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}
body a{
    color: white;
}
header{
    background-image: url(img/elements.png);
    background-repeat: no-repeat;
    height: 90vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
}
.logo{
    height: 42px;
    width: 150px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 35px 35px;
    align-items: center;
}
/* nav{
    position: fixed;
    justify-content: space-evenly;
} */

.nav_items{
    display: flex;
    list-style: none;
    width: 600px;
    justify-content: space-evenly;
}
.nav_items a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
ul :hover{
    color: red;
}
.action{
    display: flex;
    margin-right: 20px;
}
.contect{
    display: flex;
    margin-right: 20px;
    margin-top: 10px;
    color: white;
}
.contect a{
    margin-right: 10px;
}
.profile a{
    padding: 12px;
    border: 1px solid white;
    border-radius: 50px;
    margin-right: 10px;
}
button{
    border: 1px solid white;
    padding: 7px 26px;
    background-color: transparent;
    border-radius: 50px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
/* nav section end */
/* Hero section Start */
.hero_area{
text-align: center;
padding: 135px;
}
.hero-button a{
    text-decoration: none;
    border: 1px solid white;
    border-radius: 50px;
    padding: 3px 26px;
    margin-bottom: 20px;
}
.hero-button h2{
    margin: 0 auto;
}
.hero_text h2{
    width: 600px;
    font-size: 60px;
    margin: 20px auto;
    color: white;
}
.option{
    font-size: 18px;
    color: white;
}
.sale{
    border-bottom: 1px solid white;
    margin-right: 60px;
    padding: 7px 0;
}
.search{
    width: 710px;
    background-color: white;
    margin: 30px auto;
    border-radius: 70px;
}
.search input{
    border-radius: 50px;
    width: 80%;
    padding: 20px;
    border: 0;
    outline: 0;
    font-size: 17px;
}
.search button{
    background-color: orange;
    padding: 19px;
    border-radius: 50px;
}
/* Hero section End */
/* Home Section Start */
main{
    margin: 20px 0 28px;
}
.home{
    padding: 165px 250px 250px;
    background-color: #edf5fb;
    border-radius: 15px;
}
.heading{
    font-size: 40px;
    text-align: center;
    margin: 15px;
}
.sub_heading{
    font-size: 17px;
    text-align: center;
}
.cards{
    display: flex;
    margin-top: 30px;
    gap: 30px;
}
.card{
    border: 2px solid #E9E9E9;
    width: 447px;
    padding: 11px;
    border-radius: 16px;
}
.card img{
    width: 100%;
    border-radius: 15px;
}
.title_price{
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
}
.title_price h5{
    font-size: 19px;
}
.title_price p{
    color: #EB664E;
    font-size: 21px;
    font-weight: 600px;
}
.location{
    padding: 10px 0;
}
.service_item{
    display: flex;
    margin-top: 15px;
}
.pr_15{
    padding-right: 15px;
}
.pl_15{
    padding-left: 15px;
}
.feture{
    display: flex;
    gap: 20px;
}
.right_border{
    border-right: 3px solid #E9E9E9;
}
/* Home Section End */
/* properties section start */
.properties{
    padding: 160px 200px;
}
.cities{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.city{
    color: white;
    background-repeat: no-repeat;
    margin-top: 20px;
    border: 1px solid #1A1A1A;
    border-radius: 17px;
}
.city p{
    font-size: 15px;
    margin-top: 45px;
}
.city p,h1{
    margin-left: 50px;
}
.city h1{
    font-size: 24px;
    margin-top: 10px;
}
.newyork{
    background-image: url(img/New-wark.png);
    height: 395px;
    width: 701px;
}
.chicago{
    background-image: url(img/Chicago.png);
    height: 395px;
    width: 343px;
}
.los_angeles{
    background-image: url(img/Los\ Angeles.png);
    height: 395px;
    width: 343px;
}
.san_diego{
    background-image: url(img/San\ Diego.png);
    height: 395px;
    width: 343px;
}
.florida{
    background-image: url(img/Florida.png);
    height: 395px;
    width: 343px;
}
.miami{
    background-image: url(img/Miami.png);
    height: 395px;
    width: 701px;
}
/* properties section start */
